.HomePage {
  width: 100%;
  position: absolute;
  top: 0px;
}

.homeView {
  display: flex;
  padding: 20px;
  align-items: stretch;
}

.homeProfileView {
  width: 25%;
  max-width: 400px;
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 1em;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}

.homeProfileView h1 {
  font-size: 30px;
}
.homeProfileView p {
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
}
.locationGroup {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.locationGroup p {
  margin: auto;
  text-align: left;
  margin-left: 0;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  padding: 5px 8px;
  margin: 5px;
  border-radius: 1em;
  border: 2px solid var(--theme);
}
.tag p {
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: auto;
}

.PenIcon {
  width: 40px;
  height: 40px;
  padding: 15px;
  background-color: white;
  border-radius: 35px;
  margin: auto 20px 20px auto;
  position: relative;
  display: inline;
}

.newsFeed {
  width: 100%;
  background-color: white;
  margin: 20px;
  padding: 5%;
  border-radius: 1em;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}
.newsFeed h1 {
  font-size: 30px;
}

.organizationPhoto {
  border-radius: 1em;
  padding-top: 3em;
}

.organizationStats {
  border-radius: 1em;
}

.profileEditClickArea {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0);
  left: 0px;
  top: 0px;
  border-radius: 35px;
}

.iconPen {
  position: absolute;
  top: 15px;
  right: 15px;
}
