.HomePage {
  margin-top: 170px;
}
.header {
  position: fixed;
  top: 0;
}

.homeView {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.homeProfileView {
  background-color: #ded3ff;
  margin: 20px;
  padding: 20px;
  border-radius: 1em;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}

.homeProfileView h1 {
  font-size: 30px;
}
.homeProfileView p {
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
}
.locationGroup {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.locationGroup p {
  margin: auto;
  text-align: left;
  margin-left: 0;
}

.homeCausesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-gap: 10px;
}

.causeTag {
  padding: 5px 15px;
  margin: auto;
  background-color: white;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.causeTag p {
  margin: auto;
}

.homeSkillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-gap: 10px;
}

.skillsTag {
  padding: 5px 15px;
  margin: auto;
  background-color: white;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.skillsTag p {
  margin: auto;
}
.PenIcon {
  width: 40px;
  height: 40px;
  padding: 15px;
  background-color: white;
  border-radius: 35px;
  margin: auto 20px 20px auto;
  z-index: 100;
  position: relative;
}

.newsFeed {
  background-color: #ded3ff;
  margin: 20px;
  height: 60vh;
  border-radius: 1em;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}
.newsFeed h1 {
  font-size: 30px;
}

.profileEditClickArea {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0);
  left: 0px;
  top: 0px;
  border-radius: 35px;
}

.iconPen {
  position: absolute;
  top: 15px;
  right: 15px;
}