@keyframes SlideUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.homeProfileView {
  margin-block-end: 1em;
  opacity: 0;
  animation: SlideUpAnimation 1s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
