.findOrgContainer {
  left: 0;
  top: 0;
  position: absolute;
}
.OrgView {
  height: 82vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 3fr;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-top: 2em;
  padding-left: 1em;
}
.featuredOrgCard {
  width: 100%;
  height: fit-content;
  border-radius: 1em;
  background-color: white;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}
.featuredOrgCard img {
  width: 80%;
  margin: 30px 20px 0 20px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 1em;
}
.featuredOrgCard h1 {
  font-size: 30px;
  text-align: left;
  margin: 10px 40px;
  color: black;
}
.featuredOrgCard p {
  font-size: 20px;
  text-align: left;
  margin: 0 40px 40px 40px;
  color: black;
}
.orgGrid {
  max-width: 60vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  grid-gap: 40px;
  justify-items: center;
  margin: auto;
}
.header {
  padding-bottom: 20px;
}