.parent {
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.viewProfileContainer {
    border-radius: 50px;
    padding: 20px;
    background-color: white;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr; /*repeat(auto-fit, 35vw);*/
    box-shadow: 8px 16px 16px rgba(17, 17, 17, 0.08);
}

.viewProfileContainer {
    margin: auto;
    margin-top: 14rem;
    padding: 20px;
}

.viewProfileContainer h1 {
    font-size: 40px;
    margin: auto;
}

.viewProfileContainer h2 {
    font-size: 18px;
    margin: auto;
}

.fieldLabel {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
}

.fieldLabel p {
    font-size: 12px;
    text-align: left;
}

.entryField {
    max-width: 300px;
    width: 100%;
    height: 36px;
    position: relative;
    padding: 0px 16px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
}

.entryFieldMission {
    max-width: 300px;
    width: 100%;
    height: 36px;
    position: relative;
    padding: 0px 16px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
}

.createProfileField .profileInformation .fieldLabel {
    padding-left: 50px;
}

.createProfileField .profileInformation p {
    font-size: 18px;
}

.profileInformation {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
}

.saveIndividualButton {
    border: none;
    padding: 10px 16px;
    background-color: #b153fd;
    color: white;
    border-radius: 50px;
    max-width: 200px;
    font-size: 16px;
    margin: 20px 50px;
}

.saveOrgButton {
    border: none;
    padding: 10px 16px;
    background-color: #b153fd;
    color: white;
    border-radius: 50px;
    max-width: 200px;
    font-size: 16px;
    margin: 20px 50px;
}