.eventForm {
  border-radius: 50px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  background-color: white;
  box-shadow: 8px 16px 16px rgba(17, 17, 17, 0.08);
  min-width: 500px;
  max-width: 50%;
  opacity: 0;
  animation: SlideUpAnimation 1s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.mediumLabel p {
  margin: 4px;
  font-size: 20px;
}

.createEvent h4 {
  margin-top: 8px;
  margin-bottom: 8px;
}
