@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

.App {
  text-align: center;
  font-family: "Poppins", -apple-system, Roboto, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f7f7fc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: url(./background.svg);
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  border: none;
  padding: 10px 16px;
  background-color: var(--theme);;
  color: white;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 50px;
  cursor: pointer;
  margin: 0.5em;
}

.button:hover {
  background-color: #9822f8;
}

.danger {
  background-color: #fd5353;
  color: white;
}

.danger:hover {
  background-color: #b30000;
}

.button:disabled {
  background-color: #727272;
}

::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background-color: transparent;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme);;     /* color of the scroll thumb */
  border-radius: 2px;       /* roundness of the scroll thumb */
}

.fade-in {
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }