/*TODo: MAke events instead*/

@keyframes SlideUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.eventCards {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1em;
  width: 100%;
  height: 10rem;
  position: relative;
  background-color: #ffffff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.eventTextContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 10rem;
  text-align: center;
  position: relative;
}

.eventCardText {
  margin-left: 20px;
}

.eventTitle {
  font-size: x-large;
  font-weight: 1000;
  text-align: left;
  left: 3em;
  text-indent: 1.4em;
}

.eventText {
  position: relative;
  padding: 0 2em 0 2em;

  opacity: 1;
  transition: linear 0.5s;
  text-overflow: clip;

  font-size: medium;
  font-size-adjust: inherit;
  font-weight: 400;
  text-align: left;

  text-indent: 0;
  text-overflow: ellipsis;
}

.eventIcon {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  opacity: 1;
  transition: linear 0.5s;
  max-width: 80%;
  max-height: 90%;
  border-radius: 1em;
}

.followButton {
  position: absolute;
  vertical-align: auto;
  right: 1em;
  bottom: 1em;
  width: 7%;
}

.EventProfileModal {
  width: 50%;
  margin: auto;
  margin-top: 10%;
  padding: 50px;
  background-color: white;
  border-radius: 2em;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow-y: scroll;
  opacity: 0;
  animation: SlideUpAnimation 3s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.closeModal {
  float: right;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
.ModalProfileEvent {
  display: flex;
}
.ModalProfileEvent h1 {
  color: #b153fd;
  font-weight: 800;
}
.ModalProfileEvent h2 {
  color: #b153fd;
  font-weight: 800;
}
.ModalProfileEvent p {
  color: #b153fd;
}
.ModalProfileEventLeft {
}
.ModalProfileEventRight {
}
