.barFilter {
    display: grid;
    grid-template-columns: 25em 1em;
}

.filter{
    position: relative;
    left: 0;
    margin: auto;
}

.bar {
  margin: auto auto auto 0;
  width: 22em;
}
.bar input {
  border: none;
  padding: 20;
  background-color: transparent;
  color: black;
  /* height: 30px; */
  width: 100%;
  outline: none;
  font-size: 25px;
}
.bar input::placeholder {
  color: grey;
}
.maginify {
  width: 30px;
  padding: 10px 10px 0px 10px;
}

.fullBar {
  margin: auto;
  margin-left: 0;
  background-color: #eff0f6;
  display: grid;
  grid-template-columns: 50px auto;
  /*justify-content: center;*/
  border-radius: 15px;
  max-width: 1000px;
  height: 100%;
}
