/*TODo: MAke events instead*/

.eventCards {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1em;
  width: 40rem;
  height: 10rem;
  position: relative;
  background-color: #ffffff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}

.eventTextContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 10rem;
  text-align: center;
  position: relative;
}

.eventTitle {
  font-size: x-large;
  font-weight: 1000;
  text-align: left;
  left: 3em;
  text-indent: 1.4em;
}

.eventText {
  position: relative;
  padding: 0 2em 0 2em;

  opacity: 100%;
  transition: linear 0.5s;
  text-overflow: clip;

  font-size: medium;
  font-size-adjust: inherit;
  font-weight: 400;
  text-align: left;

  text-indent: 0;
  text-overflow: ellipsis;
}

.eventIcon {
  display: block;
  margin: auto;
  text-align: center;
  opacity: 1000%;
  transition: linear 0.5s;
  max-width: 80%;
}

.followButton {
  position: absolute;
  vertical-align: auto;
  right: 1em;
  bottom: 1em;
  width: 7%;
}

.EventProfileModal {
  width: 90%;
  height: 60%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 50px;
  background-color: white;
  border-radius: 2em;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.closeModal {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
.ModalProfileEvent {
  display: flex;
}
.ModalProfileEvent h1 {
  color: #b153fd;
  font-weight: 800;
}
.ModalProfileEvent h2 {
  color: #b153fd;
  font-weight: 800;
}
.ModalProfileEvent p {
  color: #b153fd;
}
.ModalProfileEventLeft {
}
.ModalProfileEventRight {
}
