.selectPage {
    width: 75%;
    margin: auto;
}

.pgTitle{
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
}

.userButton {
    border: none;
    background-color: #b153fd;
    color: white;
    padding: 16px 32px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.userButton:hover {
    background-color: #9822f8;
}

.userType {
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    width: 50%;
    margin: 1em;
}

.userOptions {
    margin: auto;
    display: flex;
}