.orgCards {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1em;
  margin: 20px;
  margin-top: 0px;
  padding: 20px;
  width: 20rem;
  height: 23rem;
  max-width: 350px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}

.orgTextContainer {
  height: 10rem;
  text-align: center;
  position: relative;
}

.orgTextContainer img {
  border-radius: 1em;
}

.orgTitle {
  font-size: x-large;
  font-weight: 1000;
}

.orgText {
  position: absolute;
  padding: 0 2em 0 2em;

  opacity: 0;
  transition: linear 0.5s;
  text-overflow: clip;

  font-size: large;
  font-size-adjust: inherit;
  font-weight: 400;
  text-align: left;
  top: 0;
}

.orgIcon {
  display: block;
  margin: auto;
  text-align: center;
  opacity: 1;
  transition: linear 0.25s;
  max-width: 80%;
}

.orgCards:hover .orgIcon {
  opacity: 0;
}

.orgCards:hover .orgText {
  opacity: 1;
}

.followButton {
  position: absolute;
  right: 1em;
  bottom: 1em;
}
