.logo {
  max-width: 200px;
}

.EmailAndPass {
  display: grid;
  grid-template-columns: 1fr;
}

.fieldLabel {
  display: grid;
  grid-template-columns: 1fr;
}

.fieldLabel p1 {
  font-size: 12px;
  text-align: left;
}

.entryField {
  max-width: 300px;
  width: 100%;
  height: 36px;
  position: relative;
  padding: 0px 16px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
}

.loginButton {
  padding: 0px 16px;
  background-color: #b153fd;
  color: white;
  border-radius: 50px;
  max-width: 100px;
  font-size: 16px;
}
