.headerContainer {
  /*pin things to top*/
  margin-top: 0;
  padding: 0 20px 20px 20px;
  background-color: white;
  border-radius: 0 0 50px 50px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}
.headerSearchBar {
  max-height: 75px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-top: 20px;
}
@media only screen and (max-width: 900px) {
  .headerSearchBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .headerButton {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5 fr 1fr ;
    grid-gap: 10px;
    padding: 0 40px;
  }
  .headerButton .menuButton {
    margin: auto;
    padding: 7px 12px;
    text-decoration: none;
    color: #b153fd;
    font-size: 15px;
    border-radius: 10px;
    transition: ease-in-out 0.2s;
  }
  .headerButton .menuButton p {
    padding: 0;
    margin: 0;
  }
}

.headerTitle {
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-content: left;
  margin-left: 20px;
}

.headerTitle h1 {
  font-size: 30px;
  padding: 10px;
  margin-left: 10px;
  text-align: left;
}

.headerLogo {
  padding: 10px;
  margin: auto;
  width: 50px;
  height: 50px;
}

.titleProfile {
  width: 100%;
  max-height: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.titleProfile img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: auto;
  margin-right: 20px;
}

.headerButton {
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5 fr 1fr;
  grid-gap: 10px;
  padding: 0 30px;
}
.headerButton .menuButton {
  margin: auto;
  padding: 7px 12px;
  text-decoration: none;
  color: #b153fd;
  font-size: 18px;
  border-radius: 10px;
  transition: ease-in-out 0.2s;
}
.headerButton .menuButton p {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.headerButton .menuButton:hover {
  background-color: #b153fd;
  color: white;
}
.active {
  color: #ffffff;
  background-color: #b153fd;
}
.active p {
  color: white;
}
.headerButtonOrg {
  width: 35%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.headerButtonOrg .menuButton {
  padding: 10px 5px;
  text-decoration: none;
  color: #b153fd;
  font-size: 20px;
  border-radius: 10px;
  transition: ease-in-out 0.2s;
}
.headerButtonOrg .menuButton p {
  padding: 0;
  margin: 0;
}
.headerButtonOrg .menuButton:hover {
  background-color: #b153fd;
  color: white;
}
