.parent {
  height: 100vh;
  width: 100%;
  background-image: url(./background.svg);
  background-size: cover;
}

.title {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  align-items: center;
  justify-content: center;
  margin: auto;
}

.logo {
  max-width: 200px;
}

.loginContainer {
  padding: 20px;
  background-color: white;
  width: 70vw;
  margin: 0 auto;
  border-radius: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 35vw);
  box-shadow: 8px 16px 16px rgba(17, 17, 17, 0.08);
}

.loginInfo {
  margin: auto;
  height: 50vh;
}

.aboutLogin p1 {
  font-weight: 600;
}

.handshake {
  height: 100%;
  width: 30vw;
  padding: auto;
}

.handshake svg {
  padding-top: 5vh;
}

.signInWith {
  padding: 5px;
}

.Login {
  background: none;
  border: none;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  max-width: 300px;
  padding: 10px;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
  padding: 20px;
}
.Login:hover {
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0 0 10px #d9d9d9;
}

.Login img {
  max-width: 50px;
  margin: auto 10px;
}

.Login p1 {
  font-size: 20px;
  margin: auto;
  font-weight: 600;
  color: #b153fd;
}

.EmailAndPass {
  display: grid;
  grid-template-columns: 1fr;
}

.fieldLabel {
  display: grid;
  grid-template-columns: 1fr;
}

.fieldLabel p1 {
  font-size: 12px;
  text-align: left;
}

.entryField {
  max-width: 300px;
  width: 100%;
  height: 36px;
  position: relative;
  padding: 0px 16px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
}

.loginButton {
  border: none;
  padding: 10px 16px;
  background-color: #b153fd;
  color: white;
  border-radius: 50px;
  max-width: 100px;
  font-size: 16px;
}

.signinButton {
  padding: 10px 16px;
  background-color: white;
  border-radius: 50px;
  max-width: 100px;
  font-size: 16px;
  color: #b153fd;
  border-width: 10px;
  border: #b153fd;
}

.EmailAndPass p {
  text-align: left;
}

.loginInfo h1 {
  text-align: left;
  font-size: 40px;
}

@media only screen and (max-width: 900px) {
  .aboutLogin {
    display: none;
  }
  .loginContainer {
    padding-top: 50px;
    background-color: white;
    width: 70vw;
    margin: auto;
    margin-top: 100px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 0fr;
  }
  .title {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .title h1 {
    font-size: 35px;
    font-weight: 800;
  }
  .logo {
    max-width: 100px;
    margin: auto;
    margin-right: 0;
  }
}
